.header1{
  display: flex;
  /* border:1px solid black; */
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.877);
  backdrop-filter: blur(100px); 
  padding:3px 30px 0px 15px;
  height:50px;
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  z-index:2;
}

/* RIGHT SIDE */

.right-side{
  display: flex;
  flex:1.1;
  flex-direction: row;
  align-items:center;
  margin:0px 45px 0px 0px;
}

.menu{
  padding: 4px 4px 2px 4px;
  background-color: #d3d3d300;
  border: none;
  border-radius: 100px;
  height:40px;
  width:40px;
}
.menu:hover{
  background-color: #E5E5E5;

}
.menu:active{
  background-color:#c8c8c8
}

.logo{
  position:relative;
  display: flex;
  padding:0px  0px 0px 15px;
  cursor: pointer;
}
.pk{
  position:absolute;
  bottom:4px;
  right:-16px;
  font-size: 10px;
  opacity: 0.5;
}

/* MIDDLE */

.middle{
  display:flex;
  flex:3;
  align-items:center;
  justify-content: center;
  padding:0px 5px 0px 0px;
  margin:0px 0px 0px 45px;
}

.search-bar{
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding: 0px 0px 0px 20px;
  height:40px;
  flex:1;
  border:1px solid #C6C6C6;
}
.search-bar::placeholder{
  font-family: "Roboto", sans-serif;
  font-size:16px;
  font-weight: 400;
}

.search{
  height:40px;
  background-color: #F6F6F6;
  border: 1px solid #C6C6C6;
  border-left-width: 0px;
  padding:2px 18px 0px 18px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}
.search:hover{
  background-color: #F0F0F0;
}

.voice{
  position: relative;
  height:40px;
  background-color: #d3d3d363;
  border:none;
  border-radius: 100px;
  padding:3px  5px 0px 5px;
  margin-left: 15px;
}
.voice:hover{
  background-color: #dfdfdf;
  cursor: pointer;
}
.voice:active{
  background-color:#c8c8c8
}

.voice .voice-label{
  display: flex;
  align-items: center;
  justify-content: center;
  width:150px;
  color:white;
  background-color: #5f5f5fea;
  border:none;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  position:absolute;
  bottom:-50px;
  right:-52px;
  opacity:0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.voice:hover .voice-label{
  opacity:1;
}

/* LEFT SIDE */

.left-side{
  display: flex;
  justify-content: right;
  align-items:center;
  flex:1.4;
  flex-direction: row;
  padding:0px 0px 0px 5px;
}

.create-button{
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: #d3d3d363;
  border:none;
  border-radius: 30px ;
  padding:0px 14px 0px 14px;
  margin:0px 6px 0px 0px;
  height:36px;
  cursor: pointer;
}
.create-button:hover{
  background-color: #dfdfdf;
}
.create-button:active{
  background-color:#c8c8c8
}

.create{
  font-family: "Roboto", sans-serif;
  font-size:14px;
  font-weight: 500;
}

.notification{
  display:flex;
  align-items: center;
  position: relative;
  background-color: white;
  border:none;
  height: 40px;
  border-radius: 100px ;
  padding:0px  10px 1px 10px;
  margin:0px 10px 0px 8px;
  cursor: pointer;
}
.notification:hover{
  background-color: #dfdfdf;
}
.notification:active{
  background-color:#c8c8c8
}

.number-label{
  background-color: #E1002D;
  color:white;
  border:none;
  position:absolute;
  height:16px;
  width:16px;
  border-radius: 100px;
  top:6px;
  right:3px;
}

.notification-label{
  display: flex;
  align-items: center;
  justify-content: center;
  width:90px;
  color:white;
  background-color: #5f5f5fea;
  border:none;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  position:absolute;
  bottom:-50px;
  right:-30px;
  opacity:0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.notification:hover .notification-label{
  opacity:1;
}

.profile{
  height:32px;
  border-radius:100px;
  margin:0px 0px 0px 10px;
  cursor: pointer;
}
.profile:active{
  border:1px solid #176AD7;
  margin:0px 0px 0px 8px;
}